@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.header__flex {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right, .header__form {
  display: flex;
  align-items: center;
}
.header__cart {
  position: relative;
}
.header__cart:hover .drop-cart {
  display: block;
}
.header__cart-link {
  display: block;
  position: relative;
}
.header__cart-img {
  margin-right: 26px;
  width: 32px;
  height: 29px;
}

.badge {
  position: absolute;
  right: 15px;
  top: -8px;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
}

.logo {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}
.logo__img {
  margin-right: 13px;
  width: 59px;
  height: 51px;
}
.logo__last-letter {
  color: #f16d7f;
  font-weight: 700;
}

.header__form {
  margin-left: 37px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

.button {
  background-color: #f16d7f;
  color: #ffffff;
  transition: all 0.2s;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.header__button {
  width: 111px;
  height: 38px;
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.38px;
  padding-left: 19px;
}

.header__button::after {
  content: "";
  font-family: FontAwesome;
  padding-left: 0.5em;
  color: #ffffff;
  font-size: 14px;
  line-height: 38px;
}

.browse {
  width: 73px;
  height: 38px;
  border-right: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  padding-left: 14px;
  position: relative;
}

.browse__link {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0.35px;
}

.browse__link::after {
  content: "";
  font-family: FontAwesome;
  padding-left: 0.5em;
  color: #838383;
  font-size: 14px;
  line-height: 38px;
}

.drop-browse {
  top: 37px;
  left: -2px;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 12px 20px;
  display: none;
  position: absolute;
  z-index: 1;
}

.drop-browse::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  position: absolute;
  top: -6px;
  left: 69px;
  transform: rotate(45deg);
}

.drop-down {
  width: 235px;
}

.browse:hover .drop-browse {
  display: flex;
}

.search {
  width: 252px;
  height: 38px;
  border: none;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  padding-left: 14px;
  padding-right: 14px;
}

.button-search {
  height: 38px;
  width: 38px;
  border-left: 1px solid #e6e6e6;
  color: #a4a4a4;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
}

.drop-cart {
  top: 39px;
  left: -10px;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px 15px 10px 15px;
  display: none;
  position: absolute;
  z-index: 1;
}

.drop-cart::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  position: absolute;
  top: -7px;
  left: 21px;
  transform: rotate(45deg);
}

.product-in-cart {
  width: 230px;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
}
.product-in-cart__link {
  width: 72px;
}
.product-in-cart__info {
  margin: 3px 15px;
  width: 110px;
}
.product-in-cart__name {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-in-cart__rank {
  color: #e4af48;
  font-family: "Font Awesome";
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.product-in-cart__quantity {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.product-in-cart__quantity_x {
  font-size: 10px;
}

.delete-button {
  display: block;
  color: #c0c0c0;
  font-size: 16px;
}

.delete-button_header {
  margin-top: 35px;
}

.total {
  width: 230px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.total__text, .total__sum {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart-button {
  display: block;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  transition: all 0.3s;
}
.cart-button_header {
  width: 145px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cart-button:hover {
  border-color: #f16d7f;
  color: #f16d7f;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu__link {
  padding: 20px;
  display: block;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__link-active {
  border-bottom: 3px solid #ef5b70;
}

.promo {
  background-color: #e8e8e8;
  height: 613px;
}
.promo__content {
  background-image: url(../img/promo_back.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 -51px;
  display: flex;
  align-items: center;
}
.promo__text {
  border-left: 12px solid #f16d7f;
  padding-left: 20px;
}
.promo__h2 {
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1.5px;
  line-height: 45px;
}
.promo__h3 {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32px;
  margin-top: 15px;
}
.promo__h3_color_red {
  color: #f16d7f;
}

.collections {
  height: 823px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.collections__left, .collections__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.man-collection, .accesories, .woman-collection, .kids-collection {
  width: 560px;
  position: relative;
}

.man-collection, .kids-collection {
  height: 542px;
}

.accesories, .woman-collection {
  height: 261px;
}

.accesories {
  background-color: #dadad2;
}

.man-collection__img, .accesories__img, .woman-collection__img, .kids-collection__img {
  max-width: 100%;
}

.accesories__img {
  position: absolute;
  right: 0;
}

.offer {
  height: 82px;
  position: absolute;
  top: 26px;
  background-color: #ffffff;
}
.offer__text {
  margin: 16px 20px;
}
.offer__h3 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
}
.offer__h2 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  line-height: 46px;
}

.product-header {
  margin-top: 92px;
  text-align: center;
}

.product-header__h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}

.product-header__h4 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  margin-top: 5px;
}

.product-box {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  margin-bottom: 40px;
  width: 261px;
  position: relative;
  transition: transform 0.3s;
}

.product__img {
  max-width: 100%;
}

.product:hover .product__add {
  display: block;
}

.product:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
  filter: brightness(50%);
}

.product__text {
  padding: 10px 14px 20px;
  position: relative;
}

.product__name {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 12px;
}

.product__rank {
  color: #e4af48;
  font-family: "Font Awesome";
  font-size: 15px;
  position: absolute;
  right: 12px;
  bottom: 24px;
  display: none;
}

.product__text:hover .product__rank {
  display: block;
}

.product__add {
  display: none;
  width: 80px;
  height: 39px;
  border: 1px solid #ffffff;
  padding-left: 43px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  position: absolute;
  top: 98px;
  left: 70px;
}

.product__add::before {
  content: "";
  background-image: url("../img/cart_white.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.product__add:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.62);
}

.product__add:active {
  box-shadow: none;
}

.browse-product {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.product__button {
  display: inline-block;
  text-align: center;
  width: 212px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.4px;
}

.product__button::after {
  content: "";
  font-family: FontAwesome;
  padding-left: 0.5em;
  color: #ffffff;
  font-size: 15px;
  line-height: 48px;
}

.special-offers {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.discount {
  width: 767px;
  height: 529px;
  position: relative;
}

.discount__text {
  position: absolute;
  top: 146px;
  left: 39px;
  color: #ffffff;
}

.discount__h2 {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.discount__h2_color_red {
  color: #f16d7f;
}

.discount__h3 {
  font-size: 32px;
  letter-spacing: 0.9px;
}

.features-box {
  background-color: #222224;
  height: 429px;
  padding: 50px 40px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.feature__img {
  float: left;
  margin-right: 30px;
}

.feature__h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.feature__description {
  overflow: hidden;
}

.feature__text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.subscription-box {
  background-image: url(../img/subscription-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-box-flex {
  display: flex;
  height: 438px;
}

.quote {
  flex: 1 50%;
  border-right: 1px solid #ffffff;
  display: flex;
}

.quote__img {
  margin-top: 111px;
  height: 83px;
  width: 83px;
  border-radius: 50%;
}

.quote__content {
  margin-top: 123px;
  margin-left: 28px;
  margin-right: 70px;
}

.quote__text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
}

.quote__author {
  margin-top: 10px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.quote__author-position {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.pagination {
  margin-top: 30px;
}

.rectangle {
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin: 5px;
}

.rectangle-active {
  background-color: #f16d7f;
}

.subscription {
  flex: 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__content {
  text-align: center;
}

.subscription__h2 {
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.subscription__h3 {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 24px;
}

.subscription__form {
  margin-top: 30px;
}

.subscription__input {
  height: 46px;
  width: 226px;
  background-color: #e1e1e1;
  border: none;
  border-radius: 23px 0 0 23px;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.35px;
  padding-left: 28px;
  padding-right: 28px;
}

.subscription__button {
  display: inline-block;
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.35px;
  transition: all 0.2s;
}
.subscription__button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.subscription__button:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.footer {
  margin-top: 100px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__descr-info {
  width: 427px;
}

.footer__text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}

.footer__text p, .footer__descr-info a {
  margin-bottom: 23px;
}

.footer__h2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 40px;
}

.footer__list {
  list-style-type: none;
}

.footer__link {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.footer__copyright {
  margin-top: 89px;
  background-color: #e6e6e6;
}

.footer__copyright-flex {
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright-text {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.social-links {
  display: flex;
}

.social-link {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
}

.social-link:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.social-link:active {
  background-color: #ffffff;
  color: #b2b2b2;
  opacity: 50%;
}

.menu__list {
  position: relative;
}

.menu__list:hover .drop {
  display: flex;
}

.drop {
  top: 48px;
  left: -5px;
  border: 1px solid #ececec;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 12px 20px;
  display: none;
  position: absolute;
  z-index: 1;
}

.drop::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
  position: absolute;
  top: -7px;
  left: 35px;
  transform: rotate(45deg);
}

.drop__flex {
  width: 235px;
  margin-right: 46px;
}

.drop__flex:last-of-type {
  margin-right: 0px;
}

.drop__ul {
  list-style-type: none;
}

.drop__h3 {
  border-bottom: 1px solid #ececec;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: 8px;
}

.drop__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
}

.drop__link:hover {
  color: #f16d7f;
}

.drop_last {
  right: 0;
  left: auto;
}

.drop_last::before {
  right: 50px;
  left: auto;
}

.drop-sale {
  position: relative;
  width: 255px;
  margin-left: -17px;
  margin-top: 15px;
}

.drop-sale__img {
  width: 100%;
}

.drop-sale__text {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  position: absolute;
  right: 10px;
  bottom: 12px;
}

.heading {
  background-color: #f8f3f4;
  height: 150px;
  min-width: 100%;
}
.heading__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading__h1 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.breadcrumbs__list {
  display: inline-block;
}
.breadcrumbs__list::before {
  content: "/";
  margin-left: 0.3em;
  margin-right: 0.3em;
  color: #636363;
  font-weight: 400;
}
.breadcrumbs__list:first-child::before {
  content: "";
}
.breadcrumbs__list-active {
  color: #f16d7f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.breadcrumbs__link:hover {
  border-bottom: 1px solid #636363;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.vertical-menu {
  width: 243px;
  list-style-type: none;
}
.vertical-menu__list {
  margin-bottom: 20px;
}
.vertical-menu__details-content {
  list-style-type: none;
  margin: 20px;
}
.vertical-menu__details-summary {
  outline: none;
  width: 233px;
  padding-left: 10px;
  line-height: 35px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.vertical-menu__details-summary::-webkit-details-marker {
  display: none;
}
.vertical-menu__details-summary::after {
  content: "";
  font-size: 14px;
  font-family: FontAwesome;
  padding-right: 0.5em;
  color: #6f6e6e;
}
.vertical-menu__details[open] > .vertical-menu__details-summary {
  color: #ef5b70;
}
.vertical-menu__details[open] > .vertical-menu__details-summary::after {
  content: "";
  font-family: FontAwesome;
  color: #ef5b70;
}
.vertical-menu__details-link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px;
}

.catalog-main {
  width: 846px;
}

.light-button {
  display: block;
  text-align: center;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  transition: all 0.2s;
}
.light-button:hover {
  border: none;
  background-color: #f16d7f;
  color: #ffffff;
}
.light-button:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
}

.filter {
  display: flex;
  justify-content: space-between;
}
.filter__trending, .filter__size, .filter__price {
  flex-basis: 0;
  flex-grow: 1;
}
.filter__trending, .filter__size {
  margin-right: 50px;
}
.filter__title {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter__trending-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.filter__trending-list {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.filter__trending-list::before {
  content: "|";
  margin-right: 0.5em;
  color: #dfdfdf;
}
.filter__trending-list:first-child::before {
  content: "";
  margin-right: 0;
}
.filter__label {
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 50px;
  display: inline-block;
}

.sort {
  height: 50px;
  background-color: #f3f3f3;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.sort form {
  border: 1px solid #ebebeb;
  margin: 10px;
}
.sort__label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  height: 30px;
  background-color: #fff;
  margin-right: -2px;
}
.sort select {
  height: 30px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-family: "Lato", sans-serif;
}

.range-wrapper {
  position: relative;
}

.range {
  -webkit-appearance: none;
  width: 262px;
  height: 6px;
  border-radius: 3px;
  background-color: #f16d7f;
  position: absolute;
  top: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border-radius: 14px;
  cursor: pointer;
  box-sizing: content-box;
}

.range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.range::-ms-thumb {
  width: 14px;
  height: 14px;
  background-color: #f16d7f;
  border-radius: 14px;
  cursor: pointer;
}

.range::-ms-fill-lower {
  background-color: #f0f0f0;
}

.range::-moz-range-progress {
  background-color: #f0f0f0;
  height: 6px;
  border-radius: 3px;
}

.result-text-min, .result-text-max {
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 30px;
}

.result-text-max {
  right: 0;
}

.catalog-nav {
  display: flex;
  justify-content: space-between;
}
.catalog-nav__button {
  width: 150px;
  height: 44px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
}

.pagination-num {
  list-style-type: none;
  display: flex;
  border-radius: 3px;
  border: 1px solid #ebebeb;
}
.pagination-num__link {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 700;
  line-height: 44px;
  padding-right: 10px;
  padding-left: 10px;
}
.pagination-num__link:hover {
  color: #ef5b70;
}
.pagination-num__link_active {
  color: #ef5b70;
}

.features-box-wrapper {
  background-color: #222224;
  margin-top: 110px;
}

.catalog-features-box {
  height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.catalog-features-box .feature {
  text-align: center;
  margin: 0 25px;
}
.catalog-features-box .feature__img {
  float: none;
  margin: 0 0 30px;
}

.product-slider {
  background-color: #f7f7f7;
}
.product-slider__content {
  max-width: 1600px;
  margin: 0 auto;
  height: 777px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-slider__img {
  width: 600px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -300px;
  z-index: 0;
  overflow: hidden;
}
.product-slider__control-prev, .product-slider__control-next {
  display: block;
  width: 47px;
  height: 47px;
  background-color: #d8d8d8;
  color: #ffffff;
  font-size: 14px;
  line-height: 47px;
  text-align: center;
}

.product-info {
  border: 1px solid #eaeaea;
  margin-top: -85px;
  margin-bottom: 50px;
  background-color: #fff;
  position: sticky;
}
.product-info__content {
  width: 620px;
  margin: 0 auto 120px;
  text-align: center;
}
.product-info__description {
  margin-top: 60px;
  border-bottom: 1px solid #eaeaea;
}
.product-info__collection-name {
  margin: 10px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-info__h2 {
  margin-top: 15px;
  margin-bottom: 35px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-info__text {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.product-info__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-info__characteristics {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
}
.product-info__characteristics_black {
  color: #2f2f2f;
}
.product-info__price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  margin: 40px;
}

.product-filter {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  margin-bottom: 28px;
}
.product-filter__item {
  text-align: left;
}
.product-filter__label {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-filter__field {
  outline: none;
  width: 115px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #eaeaea;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
}
.product-filter__field_input {
  width: 83px;
}
.product-filter__button {
  width: 537px;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
}
.product-filter__button-img {
  width: 26px;
  height: 24px;
  margin-bottom: -5px;
  margin-right: 1em;
}

.related {
  margin-top: 50px;
  margin-bottom: 30px;
}

.related__h1 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.pagination-block {
  display: block;
  width: 42px;
  height: 1px;
  background-color: #eaeaea;
}
.pagination-block_active {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}

.checkout {
  margin-top: 60px;
  margin-bottom: 90px;
}
.checkout__menu {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.checkout__li {
  border-bottom: 1px solid #e8e8e8;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}
.checkout__h3 {
  padding-left: 0.5em;
  color: #222222;
  text-transform: uppercase;
}
.checkout__content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 45px;
}
.checkout__registration-form {
  margin-left: 30px;
  margin-right: 150px;
}
.checkout__registration-form em {
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
}
.checkout__content-block {
  margin-top: 25px;
  margin-bottom: 25px;
}
.checkout__label-text {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 27px;
}
.checkout__label-text_radio {
  padding-left: 1em;
}
.checkout__h4 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
.checkout__form-text {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.checkout__easy-link {
  display: block;
}
.checkout__easy-link::before {
  content: "";
  font-family: FontAwesome;
  padding-right: 0.5em;
}
.checkout__text-field {
  width: 360px;
  height: 45px;
  border: 1px solid #eaeaea;
  color: #b3b2b2;
  font-size: 15px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 45;
  margin-top: 4px;
  margin-bottom: 4px;
}
.checkout__button {
  display: inline-block;
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
}
.checkout__password-reminder-link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  margin-left: 30px;
}

.warning-text {
  color: #ff0d0d;
}

.cart {
  margin-top: 70px;
  margin-bottom: 60px;
}
.cart__header, .cart__product {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
}
.cart__description-header, .cart__description {
  flex: 4.1 41%;
}
.cart__value-header, .cart__value {
  flex: 1.1 11%;
  display: flex;
  justify-content: center;
}
.cart__value-header_price, .cart__value_price {
  flex: 1.5 15%;
}
.cart__value-header, .cart__description-header {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__product-img {
  height: 115px;
  width: 100px;
}
.cart__description {
  display: flex;
}
.cart__product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 20px 20px;
}
.cart__product-name {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart__product-characteristics {
  color: #575757;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.cart__product-characteristics_gray {
  color: #6f6e6e;
  font-weight: 300;
}
.cart__value {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart__product-quantity {
  width: 52px;
  height: 30px;
  border: 1px solid #eaeaea;
  text-align: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}
.cart__button-box {
  margin-top: 45px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.confirm-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.confirm-box__h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.confirm-box__text {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.confirm-box__text-field, .confirm-box__select {
  display: block;
  width: 321px;
  height: 45px;
  border: 1px solid #eaeaea;
  color: #b1b1b1;
  font: 300 13px "Lato", sans-serif;
  line-height: 45px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.confirm-box__text-field::-webkit-input-placeholder, .confirm-box__select::-webkit-input-placeholder {
  color: #b1b1b1;
}
.confirm-box__text-field:-moz-placeholder, .confirm-box__select:-moz-placeholder {
  color: #b1b1b1;
  opacity: 1;
}
.confirm-box__text-field::-moz-placeholder, .confirm-box__select::-moz-placeholder {
  color: #b1b1b1;
  opacity: 1;
}
.confirm-box__text-field:-ms-input-placeholder, .confirm-box__select:-ms-input-placeholder {
  color: #b1b1b1;
}
.confirm-box__select {
  width: 356px;
}
.confirm-box__button {
  display: inline-block;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
}
.confirm-box__button:hover {
  border-color: #f16d7f;
  color: #f16d7f;
}

.total-box {
  height: 214px;
  background-color: #f5f3f3;
}
.total-box__text {
  text-align: right;
  margin: 40px 40px 20px;
  border-bottom: 1px solid #e2e2e2;
}
.total-box__h2 {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}
.total-box__h2_red {
  color: #f16d7f;
  margin-left: 1em;
}
.total-box__h3 {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.total-box__h3_bold {
  font-weight: 700;
  margin-left: 1em;
}
.total-box__button {
  display: block;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
  margin: 20px 40px 40px;
}

/*# sourceMappingURL=style.css.map */
